.action-list {
  padding: 1rem;
}

.action-list__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
  height: 2rem;
  border: 1px solid #999999;
  margin-bottom: .2rem;
  cursor: pointer;
}
